/*Estilização dos ícones de rede social*/
.figura{
  height:5vh;
  margin:0.3vh;
  border-radius: 50%;
}
.figura:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*Estilização dos dizeres do footer*/
#tituloFooter{
  font-family: 'Homemade Apple', cursive;
  text-shadow: 2px 2px rgb(210,105,30);
  font-weight: bold;
}
