<footer class="page-footer yellow darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 id="tituloFooter" class="white-text left-align">Nossas redes sociais</h5>
        </div>
          <div class="right-align">
            <figure>
              <a href="#"><img src="../assets/facebook.svg" class="figura"></a>
              <a href="#"><img src="../assets/twitter.svg" class="figura"></a>
              <a href="#"><img src="../assets/instagram.svg" class="figura"></a>
              <a href="#"><img src="../assets/pinterest.svg" class="figura"></a>
            </figure>
          </div>
        </div>
        <div class="col l4 offset-l2 s12">
        </div>
      </div>
    <div class="footer-copyright">
      <div class="container">
      © 2019
      </div>
    </div>
  </footer>
