/*animação da engrenagem*/
.animacao{
  height: 1vh;
  width: 1vh;
  margin: 20vh;
  background-color: white;
  animation: spin 1s infinite;
}
/*Estilização dos dizeres da página*/
.margem{
  margin-top: -20vh;
  margin-left:40vh;
  height:50vh;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
/*animação da engrenagem*/
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
