<div class="row">
  <img class="col l2 m3 s6" src="../../../assets/fox.jpg">
  <img class="col l2 m3 s6" src="../../../assets/girafa.jpg">
  <img class="col l2 m3 s6" src="../../../assets/leao.jpg">
  <img class="col l2 m3 s6" src="../../../assets/foxvermelha.png">
  <img class="col l2 offset-l2 m3 s6" src="../../../assets/girafarosa.png">
  <img class="col l2 m3 s6" src="../../../assets/leaoazul.png">
  <img class="col l2 m3 s6" src="../../../assets/foxazul.png">
  <img class="col l2 m3 s6" src="../../../assets/girafaroxa.png">
  <img class="col l2 m3 s6" src="../../../assets/leaoverde.png">
</div>
<div class="center-align"><a class="waves-effect waves-light btn amber darken-3" routerLink="/construcao"><i class="material-icons right">add</i>EFETUE PAGAMENTO DA SUA PELÚCIA</a></div>
<div class="espaco"></div>
