<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
  <body>
    <div class="espacamento">
    </div>
<!--Tab para seleção de páginas-->
    <div class="tab row">
        <button class="tablinks col s12 m6 l3" routerLink="/home">Home</button>
        <button class="tablinks col s12 m6 l3" routerLink="/sobrenos">Sobre Nós</button>
        <button class="tablinks col s12 m6 l3" routerLink="/carrinho">Carrinho</button>
        <button class="tablinks col s12 m6 l3" routerLink="/contato">Contato</button>
    </div>
  </body>
<router-outlet></router-outlet>
<app-footer></app-footer>
