body{
  background-image: url("../assets/trees.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top:-20vh;
  padding:0vh
}
/*Espacamento pra não ficar tudo muito colado*/
.espacamento{
  height:10px;
}
/*"Embelezamento" da tab*/
.tab {
  margin-top:50vh;
  overflow: hidden;
  border: 1px solid rgb(249, 168, 0);
  background-color: rgb(249, 168, 37);
  font-family: 'Raleway', sans-serif;
  color:white;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: rgb(214, 146, 38);
}
