/*Para o texto da página*/
#row{
  margin-top:0vh;
  width:100%;
  font-size: 2vh;
  padding-top: 0vh;
  padding-left: 10vh;
  padding-bottom: 9vh;
  padding-right: 10vh;
  font-family: 'Raleway', sans-serif;
}
/*Estilização do nome dos animais*/
.tituloHome{
  color: rgb(249, 168, 37);
  font-family: 'Raleway', sans-serif;
  margin-top:-3vh;
  font-size: 5vh;
  font-weight: bold;
}
